---
import '../assets/styles/styles.css';

import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import Layout from '~/components/Layout/Layout.astro';
import DarkMode from '~/components/DarkMode/DarkMode.astro';

import { fetchPosts, getCategories } from '../utils/content';
import Favicons from '../../playground/components/Favicons.astro';
import { version } from '../../../package.json';
import { type MetaData } from '../types';

const posts = await fetchPosts();
const categories = Object.entries(await getCategories())
  .sort()
  .map(([key, value]) => {
    return {
      slug: key,
      title: value?.title || '',
      posts: posts.filter((post) => post.category?.slug === key),
    };
  });

export interface Props {
  metadata?: MetaData;
  title?: string;
}

const { metadata, title = 'Default' } = Astro.props;
---

<Layout metadata={metadata}>
  <Favicons slot="head" />

  <aside
    id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-background text-foreground"
    aria-label="Sidebar"
  >
    <div class="h-full flex flex-col justify-between px-3 py-4">
      <div class="flex-1 overflow-y-auto">
        <a href="/" class="flex items-center gap-4 mb-4 py-2 text-2xl text-primary font-bold">
          {Astro.url.pathname !== '/' && <Icon name="tabler:arrow-left" class="size-6" />}
          Astro UI
        </a>
        <ul class="space-y-6 font-medium">
          {
            categories.map((category) => (
              <li>
                <p class="font-medium  mb-2 capitalize">{category.title}</p>
                <ul class="space-y- pl-4 border-l-2 border-gray-300 dark:border-gray-700">
                  {category.posts &&
                    category.posts.map((post) => (
                      <li>
                        <a
                          href={`/docs/${post.slug}`}
                          class={twMerge(
                            'text-gray-700 dark:text-gray-400 hover:text-primary text-sm',
                            Astro.url.pathname.split('/').includes(post.slug) &&
                              'text-primary dark:text-primary font-semibold'
                          )}
                        >
                          {post.title}
                        </a>
                      </li>
                    ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="text-sm pt-4">
        Made in
        <a
          href="https://yatoday.es"
          target="_blank"
          rel="nofollow"
          class="text-primary font-semibold hover:dark:text-emerald-200 link">Yatoday</a
        >
      </div>
    </div>
  </aside>
  <div class="sm:ml-64 flex flex-col">
    <div class="flex items-center justify-between px-2 sm:px-10">
      <div class="flex items-center">
        <button
          type="button"
          class="sm:hidden"
          aria-label="Open sidebar"
          onclick="document.getElementById('default-sidebar').classList.toggle('translate-x-0');"
        >
          <Icon name="tabler:menu-2" class="size-6" />
        </button>
        <div class="py-4 text-2xl font-medium hidden sm:block">
          {title}
        </div>
      </div>

      <div class="flex items-center gap-4">
        <span class="text-xs sm:text-base">{version.replace('^', 'v: ') || '0.0.1'}</span>
        <DarkMode />
      </div>
    </div>
    <div
      class="p-4 sm:p-10 bg-card text-card-foreground rounded-l-2xl prose-sm dark:prose-invert lg:prose prose-a:text-primary prose-td:text-nowrap xl:prose-td:text-wrap prose-td:py-1 md:prose-td:py-2 max-w-none!"
    >
      <slot />
    </div>
  </div>
</Layout>
