---
import type { Card2Props as Props } from './types';
import Card0 from '../Card0/Card0.astro';
import Image from '../Image/Image.astro';
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import { cn } from '../../utils';

const {
  title = await Astro.slots.render('title'),
  description = await Astro.slots.render('description'),
  icon,
  image = await Astro.slots.render('image'),
  url = '',
  callToAction,
  classes = {},
  as = 'article',
  asHeader = 'h3',
  badge = await Astro.slots.render('badge'),
} = Astro.props;

const WrapperHeaderTag = asHeader;

const {
  container: containerClass = '',
  title: titleClass = '',
  content: contentClass = 'text-muted-foreground',
  icon: iconClass = '',
  image: imageClass = '',
  badge: badgeClass = 'top-2 left-2',
} = classes;
---

<Card0
  as={as}
  badge={badge}
  classes={{
    container: cn('group', containerClass),
    badge: badgeClass,
  }}
>
  <!-- Image -->
  <Fragment slot="image">
    {
      image && (
        <div class={twMerge('w-full overflow-hidden -mt-6 h-40 bg-gray-400 dark:bg-zinc-700', imageClass)}>
          {typeof image === 'string' ? (
            <Fragment set:html={image} />
          ) : (
            <Image
              class={cn('w-full md:h-full', imageClass, (url || callToAction?.href) && 'group-hover:scale-105 transition duration-300')}
              widths={[400, 900]}
              width={400}
              height={400}
              sizes="(max-width: 900px) 400px, 900px"
              layout="cover"
              loading="lazy"
              decoding="async"
              {...image}
            />
          )}
        </div>
      )
    }

    {
      icon && (
        <div class="h-12 px-6">
          <Icon
            name={icon}
            class={cn(
              'w-12 h-12 text-primary group-hover:scale-105 transition duration-300',
              image ? 'mt-6' : '',
              iconClass,
              url || (callToAction?.href && 'group-hover:scale-105 transition duration-300')
            )}
          />
        </div>
      )
    }
  </Fragment>

  <!-- Content -->
  <div class={twMerge('px-6 space-y-6')}>
    <div>
      <WrapperHeaderTag class={twMerge('text-xl font-bold', titleClass)}>
        {
          url || callToAction?.href ? (
            <a href={url || callToAction?.href || '/'} class="after:content-[''] after:inset-0 after:absolute">
              {title}
            </a>
          ) : (
            title
          )
        }
      </WrapperHeaderTag>

      <div class={twMerge('mt-2', contentClass)}>
        <slot />
        {description}
      </div>
    </div>
  </div>
</Card0>
